/*    HTTP Host:  b.static.ak.fbcdn.net                                        */
/*    Generated:  September 29th 2009 9:26:29 AM PDT                           */
/*      Machine:  10.16.140.109                                                */
/*       Source:  Backing Store                                                */
/*     Location:  css/mobilepro.css h:6maw1ulv                                 */
/*       Locale:  nu_ll                                                        */
/*         Path:  css/mobilepro.css                                            */

.mobile_disclaimer{margin-top:2px;color:#999}
.mobile_dash_bar{margin-top:0;padding-top:0}
.mobile_dash{background:#f7f7f7;padding:0 0 18px 0}
.mobile_dash_images,
.mobile_dash_images td{vertical-align:bottom}
.mobile_dash_infos,
.mobile_dash_infos td{vertical-align:top}
.mobile_dash_image{padding:16px 0 0 10px;width:140px}
.mobile_dash_image img{border:solid #ccc 1px;padding:3px}
.mobile_dash_byline{line-height:14px;padding:4px 0 6px 20px}
.mobile_dash_byline strong{display:block;overflow:hidden;width:120px}
.mobile_dash_byline .mobile_dash_comment{display:block;font-size:9px;padding-top:4px}
.mobile_dash_bottom{background:#fff;border-top:solid #d8dfea 1px;padding:15px 15px 20px}
.mobile_dash_bottom h2{font-size:11px;font-weight:bold;padding:4px 0 1px 0}
.mobile_url_container{padding:12px 0 12px}
.mobile_dash_bottom p{margin:0;padding:8px 0 0}
.mobile_dash_bottom_left{float:left;padding:12px 30px 15px 7px;width:355px}
.mobile_dash_bottom_left h3{font-size:11px;font-weight:normal;padding:8px 0}
.mobile_dash_bottom_left .notifications_off{border-top:solid #ccc 1px;color:#666;font-weight:bold;margin-top:16px;padding:16px 0}
.mobile_dash_bottom_left .subscription{color:#444}
.mobile_dash_bottom_left .mobile_texts h2{background-image:url(/rsrc.php/z35B8/hash/c0s37sii.gif);background-repeat:no-repeat;background-position:-5px 2px;padding-left:17px}
.mobile_dash_bottom_left .mobile_texts_address{background:#f2f5ff;border:solid #d8dfea 1px;font-size:14px;font-weight:bold;padding:5px}
.mobile_dash_bottom_left .mobile_subscriptions{padding-top:16px}
.mobile_dash_bottom_right{border-left:solid #ccc 1px;float:left;padding:12px 0 15px 35px;width:250px}
.mobile_dash_bottom_right .mobile_uploads h2{background-image:url(/rsrc.php/z6T48/hash/d9b9ivs6.gif);background-repeat:no-repeat;padding-left:22px}
.mobile_dash_bottom_right .mobile_uploads_address{background:#f2f5ff;border:solid #d8dfea 1px;font-size:14px;font-weight:bold;padding:5px}
.mobile_dash_bottom_right .mobile_web{padding-top:16px}
.mobile_dash_bottom .mobile_add_app{color:#777;font-weight:bold;padding-top:16px}
.mobile_dash_bottom .confirm_phone{display:block;padding-top:0}
.mobile_dash_bottom .confirm_phone .confirmation_prompt{display:block;margin-top:6px}
.back_to_mobile{display:block;padding:10px 8px 0 0}
.back_to_mobile_right{display:block;float:right;padding:5px 20px 15px 0}
.mobile_settings{margin:0 auto;padding:0 130px 0}
.mobile_settings h2{border-bottom:solid #d8dfea 1px;color:#000;font-size:11px;font-weight:bold;margin-top:24px;padding:4px 0}
.mobile_settings h3{color:#000;font-size:12px;font-weight:bold;margin:0;padding:18px 0 8px}
.mobile_settings label{color:#000;font-weight:normal;padding:0;margin:0}

.mobile_account_inlay #standard_status{margin:30px 120px 20px 128px}



