/*    HTTP Host:  static.ak.fbcdn.net                                          */
/*    Generated:  December 23rd 2009 3:24:01 PM PST                            */
/*      Machine:  10.16.139.102                                                */
/*       Source:  Backing Store                                                */
/*     Location:  css/33ddf5niyigw00o8.pkg.css h:797khaox                      */
/*       Locale:  nu_ll                                                        */
/*         Path:  css/33ddf5niyigw00o8.pkg.css                                 */

.asdf{font-family:"lucida grande",tahoma,verdana,arial,sans-serif;font-size:15px;color:#333;margin:0;padding:0;text-align:left;direction:ltr;unicode-bidi:embed;_height:100%}
.auto_resize_iframe{height:auto}
h1, h2, h3, h4, h5{font-size:13px;color:#333;margin:0;padding:0}
h1{font-size:14px}
h4, h5{font-size:11px}
p{font-family:"lucida grande",tahoma,verdana,arial,sans-serif;font-size:11px;text-align:left}
a{cursor:pointer;color:#3b5998;-moz-outline-style:none;text-decoration:none}
a:hover{text-decoration:underline}
img{border:0}


