/* CSS Document */
img{border:0px;}
.flt{float:left;}
.menubg{clear:left; background-color:#8d8d8d; width:134px;}
.menu{float:left; clear:left; font:bold 11px Arial, Helvetica, sans-serif;}
.menu li {
margin:0px 0px 0px 0px;
	list-style:none;
	}
.menu a, .menu a:visited {
	width:120px;
	height:22px;
	margin:0px 0px 2px -38px;
	position:relative;
	display:block;
	color:#fff;
	text-decoration:none;
	background:url(../images/menubg2.jpg) no-repeat;
	padding:4px 0 0 8px;
	}
*html .menu a, .menu a:visited {
	width:186px;
	height:22px;
	margin:0px 0px 2px -32px;
	position:relative;
	display:block;
	color:#fff;
	text-decoration:none;
	background:url(../images/menubg2.jpg) no-repeat;
	padding:4px 0 0 8px;
	}
.menu a:hover, .menu a:active,
.menu li.current_page_item a, .menu li.current_page_item a:visited  {
	background:url(../images/menubg1.jpg) no-repeat;
	text-decoration:none;
	}
.bot{clear:left;}
	
